<mat-card>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z15">

 <!-- Position Column -->
 <!-- <ng-container matColumnDef="position">
   <th mat-header-cell *matHeaderCellDef> No. </th>
   <td mat-cell *matCellDef="let element"> {{element.position}} </td>
 </ng-container> -->

 <!-- Name Column -->
 <ng-container matColumnDef="nombre">
   <th mat-header-cell *matHeaderCellDef> Nombre </th>
   <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
 </ng-container>

<!-- Apellido Column -->
<ng-container matColumnDef="apellido">
  <th mat-header-cell *matHeaderCellDef> Apellido </th>
  <td mat-cell *matCellDef="let element"> {{element.Apellido}} </td>
</ng-container>

<!-- Correo Column -->
<ng-container matColumnDef="correo">
  <th mat-header-cell *matHeaderCellDef> Correo </th>
  <td mat-cell *matCellDef="let element"> {{element.Correo}} </td>
</ng-container>

<!-- TipoDocumento Column -->
<ng-container matColumnDef="tipoDocumento">
  <th mat-header-cell *matHeaderCellDef> Tipo_Documento </th>
  <td mat-cell *matCellDef="let element"> {{element.TipoDocumento}} </td>
</ng-container>

<!-- Documento Column -->
<ng-container matColumnDef="documento">
  <th mat-header-cell *matHeaderCellDef> Documento </th>
  <td mat-cell *matCellDef="let element"> {{element.Documento}} </td>
</ng-container>

<!-- Fecha_Nacimiento Column -->
<ng-container matColumnDef="fechaNacimiento">
  <th mat-header-cell *matHeaderCellDef> Fecha_Nacimiento </th>
  <td mat-cell *matCellDef="let element"> {{element.FechaNacimiento | date:'mediumDate'}} </td>
</ng-container>

 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</mat-card>

<mat-paginator
              [pageSizeOptions]="[5,10]" aria-label="Select page of users">
</mat-paginator>
